/* container-bg-color: #F9F6F0 ;




*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* body {
    background-color: rgb(30, 30, 30);
} */

/* img {
    display: block;
}  */

/* icon pack  */

ion-icon {
    color: black;
    font-size: 50px;
    /* do multiples of 8 */
    /* use this instead of size=large */
  }


/*~~~~~~~~~~~~~~~~~~~~~BASE NO CHANGE~~~~~~~~~~~~~~~~~~~~~*/
  
.destContainer {
    width: 95%;
    background-color: #F9F6F0 ;
    height: 95vh;
    margin: 15px auto;

    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 0.3fr repeat(3,1fr);

    /* grid-row-gap:20px;
    grid-column-gap:20px; */
    
}

.header-text {
    grid-column: 1/-1;
}

.p1 {
    grid-column: 1/span 2;
    grid-row: 2/span 2;
}
.p2 {
    grid-column: 3/span 2;
    grid-row: 2/span 2;
}
.p3 {
    grid-column: 5/span 2;
    grid-row: 2/span 2;
}
.footer-img1 {
    grid-column: 2/span 3;
}

.p1,.p2,.p3 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}

/*~~~~~~~~~~~~~~~~~~~~~INSERTING IMAGES~~~~~~~~~~~~~~~~~~~~~*/
.all-pics {
    background-repeat: no-repeat;
    /* background-attachment: cover; */
    /* background-position: 50% 30%; */
    background-size: cover;
    /* transform: scale(1.1); */
    /* height: 100%;
    width: 100%; */
}

.p1 {background-image: url("Pics/HYD/main.jpg");}
.p2 {background-image: url("Pics/GER/main.jpg");}
.p3 {background-image: url("Pics/AN/main.jpg");}

/*~~~~~~~~~~~~~~~~~~~~~individual cuts~~~~~~~~~~~~~~~~~~~~~*/

/* backgroud color : #FFEFCA */
/* button color : #be9e44 */

.cuts {

    display: grid;
    align-items: center;
    justify-items: center;

    /* background-image: linear-gradient(to bottom, #FFEFCA,#FFF6E2); */
    background-color: #FFEFCA ;
    opacity: 0.5;

    text-align: center;

    padding: 15px;
    

}
/* means direct child element not descendent or sibling */
.cuts > span {
    font-style: italic;

    /* font family showing up differently in diff browsers  */
    font-family: ;
    font-size: 16px;
    /* font-weight: 600; */

}

.btnDest {
    color: #be9e44;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;

    padding: 8px 20px;
    border: 2px solid;
    
    transform: translateY(-20px);

    transition: all;
    transition-duration: 1.2s;
    transition-delay: 150ms;
}

.cuts:hover {
    opacity: 1;
}

.cuts:hover > .btnDest {
    transform: translateY(0px) scale(1.1);
    box-shadow: 0px -10px 8px #be9e44;
    /* opacity: 0.8; */
}

.cuts > .btnDest:hover {
    color: #0e0e0e;
    background-color: #be9e44;
    /* border-color: #be9e44; */

    font-style: italic;

    border-radius: 100px;
    
    /* opacity: 1; */

}

/* almost broke the active state
doesn't work without mentioning that it is a child element */
.cuts > .btnDest:active {
    transform: translateY(-10px) scale(1) ;
    box-shadow: 0px 0px 0px transparent;
}

/* <!--                  BGCOLOR COLORinStyle
        VISITED STATE COLOR = #0e0e0e #be9e44
        ACTIVE STATE COLOR = #be9e44 #0e0e0e
        UNVISITED STATE COLOR = #FFEFCA #be9e44
        --> */


/*~~~~~~~~~~~~~~~~~~~~~header text~~~~~~~~~~~~~~~~~~~~~*/
        
.header-text {
    margin: auto;

    font-family: Perpetua;
    text-transform: uppercase;
    font-size: 35px;
    font-style: italic;
    /* font-weight: 500; */

    padding: 10px 20px;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */

}

.header-text > hr {
    margin: auto;
    width: 70%;
    /* height: 2px; */
    transform: translateY(5px);
}