/*~~~~~~~~~~~~~~~~~~~~~BASE SETUP~~~~~~~~~~~~~~~~~~~~~*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

a{
    text-decoration: none;
    /* this saves 50 extra lines of mentioning anchor again and agian for each change  */
    color: inherit;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~main-header-container~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~CONTAINER SETUP - HEADER~~~~~~~~~~~~~~~~~~~~~*/


.main-header-container {
    width: 100%;
    background-color: #0e0e0e;
    height: 12vh;
    /* margin: 6px auto; not a gud idea to remention color in body*/

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    
}

/*~~~~~~~~~~~~~~~~~~~~~LOGO~~~~~~~~~~~~~~~~~~~~~*/

.logo > img{
    background-size: cover;
    width: 10%;
    transform: translateX(25px) translateY(5px) scale(0.8);
    /* padding: 20px; */
    margin: auto 5px;
}

/*~~~~~~~~~~~~~~~~~~~~~title-text~~~~~~~~~~~~~~~~~~~~~*/

.title-text {
    color: #be9e44;

    margin: auto auto;
    /* text-align: center; */
    transform: translateX(-145%) ;
    
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    /* font-style: italic; */
    font-weight: 600;
    letter-spacing: 1.5px;
    word-spacing: 1px;

    opacity: 0.6;
}

.title-text:link,
.title-text:hover,
.title-text:active {
    opacity: 1;
    cursor:not-allowed;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~main-header-container~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.main-stages-container {
    width: 100%;
    background-color: #0e0e0e;
    height: 8vh;

    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr;

}

.main-stages-container > div {
    /* margin: auto; works but need grid for animations*/
    display: grid;
    justify-items: center;
    align-items: center;      

    font-size: 23px;
    font-family: 'Share', cursive;
    font-weight: 600;
    letter-spacing: 0.5px;

    transition: all;
    transition-duration: 2s;
    transition-delay: 150ms;
}

/* 
COLORS 
                     BGCOLOR  COLOR
VISITED STATE COLOR = #0e0e0e #be9e44   ---- default
ACTIVE STATE COLOR = #be9e44 #0e0e0e
UNVISITED STATE COLOR = #FFEFCA #be9e44
 */
/* cursor:not-allowed; instead just remove href attribut of anchor */


/* ACTIVE STATE : 4TH STAGE */
/*==========TO BE VISITED STAGE==========*/

/* for all consecutive stages except active state  */
/* CHANGE REQUIRED1 */
.s5,.s6 {color: #be9e44;background-color: #FFEFCA;}

/* only for the consecutive stage from active  */
/* CHANGE REQUIRED2 */
.s5:hover,
.s5:active {color: #0e0e0e;box-shadow: 250px 0px 0px 0px #be9e44 inset;}

/*==========ACTIVE STAGE==========*/

/* CHANGE REQUIRED3 */
.s4 {color: #0e0e0e;background-color:#be9e44 ;}
/* no hover animation for current stage obiviously  */

/*==========ALREADY VISITED STAGE==========*/

/* all clases before active class  */
/* CHANGE REQUIRED4 */
.s1,.s2,.s3 {color: #be9e44;background-color: #0e0e0e;}
.s1:hover,.s2:hover,.s3:hover {color: #0e0e0e;box-shadow: 0px 100px 0px 0px #be9e44 inset;}

/* IMP - NO NEED TO REMOVE 5 OR 6 IF ITS ALREADY WHITE, CUZ NO CHANGE
DAYUM NO NEED TO COMMENT OUT ANYTHING ANYWHERE ONLY CHANGING THOSE BEFORE THIS COMMENT IS ENOUGH*/

/* SELF SUFFICIENT ---- NO CHANGE REQUIRED  */
/* for s1  */
.s1:hover ~ .s2 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;}
.s1:hover ~ .s3 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;}
.s1:hover ~ .s4 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;}
.s1:hover ~ .s5 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;}
.s1:hover ~ .s6 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;}

/* for s2  */
.s2:hover ~ .s3 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;}
.s2:hover ~ .s4 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;}
.s2:hover ~ .s5 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;}
.s2:hover ~ .s6 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;}

/* for s3  */
.s3:hover ~ .s4 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;}
.s3:hover ~ .s5 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;}
.s3:hover ~ .s6 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;}

/* for s4  */
.s4:hover ~ .s5 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;}
.s4:hover ~ .s6 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;}

/* for s5  */
.s5:hover ~ .s6 {color: #be9e44;box-shadow: 0px -100px 0px 0px #FFEFCA  inset;}
