/* container-bg-color: #F9F6F0 ;




*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* body {
    background-color: rgb(30, 30, 30);
} */

/* img {
    display: block;
}  */

/* icon pack  */

ion-icon {
    color: black;
    font-size: 50px;
    /* do multiples of 8 */
    /* use this instead of size=large */
  }

/*~~~~~~~~~~~~~~~~~~~~~BASIC SETUP~~~~~~~~~~~~~~~~~~~~~*/


.graciasContainer {
    /* width: 100%; */
    background-color: transparent ;
    height: 95vh;
    margin: 5px 15px 10px;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:  0.5fr 0.1fr 0.5fr 1.7fr;

    grid-row-gap:10px;
    grid-column-gap:20px;
    
}

.header-text-1,.header-text-2,.header-text-3 {
    grid-column: 1/-1;
}

/*~~~~~~~~~~~~~~~~~~~~~HEADER-TEXT~~~~~~~~~~~~~~~~~~~~~*/

.header {
    margin: auto;
}

/*~~~~~~~~~~~~~~~~~~~~~IMAGE INSERTION~~~~~~~~~~~~~~~~~~~~~*/

body {
    background-image: url("bg-5.jpg") ;
    background-color:#0e0e0e ;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*~~~~~~~~~~~~~~~~~~~~~CONTENT~~~~~~~~~~~~~~~~~~~~~*/

.menu,.locked {
    /* background-image: linear-gradient(to bottom,#C67E7F,#b65b5c); */
    /* background-image: linear-gradient(to bottom,transparent,#b65b5d9a); */

    background-color: #1a1a1aa2;
    border-radius: 7px;

    cursor: pointer;
}

.header{
    color: #BB8779;
    /* text-shadow: 0px 0px 5px #FFEFCA; */
    /* background-color: #ffefcad7; */

    transition: all 1.5s 150ms;
}

.header-text-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    background-color: #1a1a1aa2;
}
/* 
.header-text-1 > span {
    /* font-style: oblique; */
    /* color:whitesmoke; */

    /* border-bottom: 2px solid whitesmoke; */
/* } */

.header-text-2 {
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #1a1a1aa2;
    /* color: rgba(245, 245, 245, 0.755); */
}

.header-text-3 {
    background-color: #1a1a1aa2;
    color: #BB8779;
    padding: 3px 20px;

    font-family: sans-serif;
    font-size: 38px;
    font-weight: 700;
}

.header-text-3:hover {
    box-shadow: 0px -50px 0px #be9d4481 inset;
}

.menu,.locked {
    display: grid;
    justify-items: center;
    align-items: center;

    font-family: sans-serif;
    font-size: 23px;
    letter-spacing: 1px;

    color: #BB8779;

    position: relative;
    top: 0px;

    transition: all 0.5s 150ms;
}

.menu:hover {
    position: relative;
    top: -20px;

    box-shadow: 0px 0px 10px #1a1a1aa2,0px 0px 15px #1a1a1aa2,0px 0px 20px #1a1a1aa2 ;
}

.menu > span,.locked >span {
    transition: all 0.5s 150ms;

    position: relative;
}

.menu:hover > span {
    transform: scale(1.1);    
}

.border {
    border-bottom: 2px solid #BB8779;
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: -5px;

    transition: all 1s 150ms;
}

.menu:hover > span > .border {
    position: absolute;
    left: 10%;
    right: 10%;

}

.locked ion-icon {
    color: rgba(0, 0, 0, 0.7);
    font-size: 21px;
    margin-right: 4fpx;
}